# INTRODUCTION

Tanzania, as a developing country, struggles with providing clean water to its population of over 57,000,000. There are many water points already established in the country, but some are in need of repair while others have failed altogether.The Two datasets in this project contain details of wells that are in Tanzania.

## Business Understanding

The goal is to ensure that water wells in Tanzania are functional, providing reliable access to clean water for communities. Ensuring well functionality involves understanding various factors influencing the wells' status, such as management practices, payment methods, and water quality. Effective management and maintenance strategies can be developed by identifying key determinants of well functionality, leading to improved water access for the population.

## Problem Statement
The primary problem is the high rate of non-functional water wells in Tanzania, which undermines efforts to provide safe and reliable water access. This project aims to identify the critical factors affecting well functionality, predict the status of wells using these factors, and recommend strategies to improve well management and maintenance.

## DATA PREPARATION

In [1]:
# Importing necessary libraries for data analysis and visualization

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt  # for data visualization.
%matplotlib inline
import seaborn as sns  # for enhanced data visualization.
from pandas.api.types import is_numeric_dtype  # Used to check if a data type is numeric.

## Reading the Datasets

In [2]:
df1 = pd.read_csv('files/Tz water wells1.csv')
df2 = pd.read_csv('files/wells.cond.csv')

In [4]:
df1.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

In [5]:
df2.head()

      id    status_group
0  69572      functional
1   8776      functional
2  34310      functional
3  67743  non functional
4  19728      functional

In [8]:
df1.describe()

,id,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year
count,59400.000000,59400.000000,59400.000000,59400.000000,5.940000e+04,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000
mean,37115.131768,317.650385,668.297239,34.077427,-5.706033e+00,0.474141,15.297003,5.629747,179.909983,1300.652475
std,21453.128371,2997.574558,693.116350,6.567432,2.946019e+00,12.236230,17.587406,9.633649,471.482176,951.620547
min,0.000000,0.000000,-90.000000,0.000000,-1.164944e+01,0.000000,1.000000,0.000000,0.000000,0.000000
25%,18519.750000,0.000000,0.000000,33.090347,-8.540621e+00,0.000000,5.000000,2.000000,0.000000,0.000000
50%,37061.500000,0.000000,369.000000,34.908743,-5.021597e+00,0.000000,12.000000,3.000000,25.000000,1986.000000
75%,55656.500000,20.000000,1319.250000,37.178387,-3.326156e+00,0.000000,17.000000,5.000000,215.000000,2004.000000
max,74247.000000,350000.000000,2770.000000,40.345193,-2.000000e-08,1776.000000,99.000000,80.000000,30500.000000,2013.000000

In [9]:
# Merging target data frame with our main dataframe
data = pd.merge(df1,df2, on = 'id', how = 'inner')
data

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,functional
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59395,60739,10.0,2013-05-03,Germany Republi,1210,CES,37.169807,-3.253847,Area Three Namba 27,0,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
59396,27263,4700.0,2011-05-07,Cefa-njombe,1212,Cefa,35.249991,-9.070629,Kwa Yahona Kuvala,0,...,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe,functional
59397,37057,0.0,2011-04-11,NaN,0,NaN,34.017087,-8.750434,Mashine,0,...,fluoride,fluoride,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump,functional
59398,31282,0.0,2011-03-08,Malec,0,Musa,35.861315,-6.378573,Mshoro,0,...,soft,good,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump,functional
59399,26348,0.0,2011-03-23,World Bank,191,World,38.104048,-6.747464,Kwa Mzee Lugawa,0,...,salty,salty,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump,functional

In [14]:
def inspect_data(data):
    """
    Inspect a Pandas DataFrame and print its head, tail, description, and shape.
    
    """
    print("Head:")
    print(data.head())
    print("\nTail:")
    print(data.tail())
    print("\nDescription:")
    print(data.describe())
    print("\nShape:")
    print(data.shape)
    
inspect_data(data)

Head:
      id  amount_tsh date_recorded        funder  gps_height     installer  \
0  69572      6000.0    2011-03-14         Roman        1390         Roman
1   8776         0.0    2013-03-06       Grumeti        1399       GRUMETI
2  34310        25.0    2013-02-25  Lottery Club         686  World vision
3  67743         0.0    2013-01-28        Unicef         263        UNICEF
4  19728         0.0    2011-07-13   Action In A           0       Artisan

   longitude   latitude              wpt_name  num_private  ... water_quality  \
0  34.938093  -9.856322                  none            0  ...          soft
1  34.698766  -2.147466              Zahanati            0  ...          soft
2  37.460664  -3.821329           Kwa Mahundi            0  ...          soft
3  38.486161 -11.155298  Zahanati Ya Nanyumbu            0  ...          soft
4  31.130847  -1.825359               Shuleni            0  ...          soft

  quality_group      quantity  quantity_group                source  \
0          good        enough          enough                spring
1          good  insufficient    insufficient  rainwater harvesting
2          good        enough          enough                   dam
3          good           dry             dry           machine dbh
4          good      seasonal        seasonal  rainwater harvesting

            source_type source_class              waterpoint_type  \
0                spring  groundwater           communal standpipe
1  rainwater harvesting      surface           communal standpipe
2                   dam      surface  communal standpipe multiple
3              borehole  groundwater  communal standpipe multiple
4  rainwater harvesting      surface           communal standpipe

  waterpoint_type_group    status_group
0    communal standpipe      functional
1    communal standpipe      functional
2    communal standpipe      functional
3    communal standpipe  non functional
4    communal standpipe      functional

[5 rows x 41 columns]

Tail:
          id  amount_tsh date_recorded           funder  gps_height installer  \
59395  60739        10.0    2013-05-03  Germany Republi        1210       CES
59396  27263      4700.0    2011-05-07      Cefa-njombe        1212      Cefa
59397  37057         0.0    2011-04-11              NaN           0       NaN
59398  31282         0.0    2011-03-08            Malec           0      Musa
59399  26348         0.0    2011-03-23       World Bank         191     World

       longitude  latitude             wpt_name  num_private  ...  \
59395  37.169807 -3.253847  Area Three Namba 27            0  ...
59396  35.249991 -9.070629    Kwa Yahona Kuvala            0  ...
59397  34.017087 -8.750434              Mashine            0  ...
59398  35.861315 -6.378573               Mshoro            0  ...
59399  38.104048 -6.747464      Kwa Mzee Lugawa            0  ...

      water_quality quality_group      quantity  quantity_group        source  \
59395          soft          good        enough          enough        spring
59396          soft          good        enough          enough         river
59397      fluoride      fluoride        enough          enough   machine dbh
59398          soft          good  insufficient    insufficient  shallow well
59399         salty         salty        enough          enough  shallow well

        source_type source_class     waterpoint_type waterpoint_type_group  \
59395        spring  groundwater  communal standpipe    communal standpipe
59396    river/lake      surface  communal standpipe    communal standpipe
59397      borehole  groundwater           hand pump             hand pump
59398  shallow well  groundwater           hand pump             hand pump
59399  shallow well  groundwater           hand pump             hand pump

      status_group
59395   functional
59396   functional
59397   functional
59398   functional
59399   functional

[5 rows x 41 columns]

Description:
                 id     amount_tsh    gps_height     longitude      latitude  \
count  59400.000000   59400.000000  59400.000000  59400.000000  5.940000e+04
mean   37115.131768     317.650385    668.297239     34.077427 -5.706033e+00
std    21453.128371    2997.574558    693.116350      6.567432  2.946019e+00
min        0.000000       0.000000    -90.000000      0.000000 -1.164944e+01
25%    18519.750000       0.000000      0.000000     33.090347 -8.540621e+00
50%    37061.500000       0.000000    369.000000     34.908743 -5.021597e+00
75%    55656.500000      20.000000   1319.250000     37.178387 -3.326156e+00
max    74247.000000  350000.000000   2770.000000     40.345193 -2.000000e-08

        num_private   region_code  district_code    population  \
count  59400.000000  59400.000000   59400.000000  59400.000000
mean       0.474141     15.297003       5.629747    179.909983
std       12.236230     17.587406       9.633649    471.482176
min        0.000000      1.000000       0.000000      0.000000
25%        0.000000      5.000000       2.000000      0.000000
50%        0.000000     12.000000       3.000000     25.000000
75%        0.000000     17.000000       5.000000    215.000000
max     1776.000000     99.000000      80.000000  30500.000000

       construction_year
count       59400.000000
mean         1300.652475
std           951.620547
min             0.000000
25%             0.000000
50%          1986.000000
75%          2004.000000
max          2013.000000

Shape:
(59400, 41)

In [15]:
data.dtypes

id                         int64
amount_tsh               float64
date_recorded             object
funder                    object
gps_height                 int64
installer                 object
longitude                float64
latitude                 float64
wpt_name                  object
num_private                int64
basin                     object
subvillage                object
region                    object
region_code                int64
district_code              int64
lga                       object
ward                      object
population                 int64
public_meeting            object
recorded_by               object
scheme_management         object
scheme_name               object
permit                    object
construction_year          int64
extraction_type           object
extraction_type_group     object
extraction_type_class     object
management                object
management_group          object
payment                   object
payment_type              object
water_quality             object
quality_group             object
quantity                  object
quantity_group            object
source                    object
source_type               object
source_class              object
waterpoint_type           object
waterpoint_type_group     object
status_group              object
dtype: object

In [16]:
# 2. Data Type Conversion
data['date_recorded'] = pd.to_datetime(data['date_recorded'])

# 3. Outliers Detection and Handling
for column in ['amount_tsh', 'gps_height', 'longitude', 'latitude']:
    q1 = data[column].quantile(0.25)
    q3 = data[column].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - 1.5 * iqr
    upper_bound = q3 + 1.5 * iqr
    data[column] = np.where(data[column] < lower_bound, q1, data[column])
    data[column] = np.where(data[column] > upper_bound, q3, data[column])

# 4. Data Consistency
categorical_columns = ['funder', 'installer', 'basin', 'region', 'lga', 'ward', 'scheme_management', 'extraction_type', 'management', 'payment', 'water_quality', 'quantity', 'source', 'waterpoint_type', 'status_group']
for column in categorical_columns:
    data[column] = data[column].str.lower()

# 5. Feature Engineering
data['recorded_year'] = data['date_recorded'].dt.year
data['recorded_month'] = data['date_recorded'].dt.month

# 6. Dropping Irrelevant or Redundant Columns
columns_to_drop = ['id', 'wpt_name', 'num_private', 'subvillage', 'region_code', 'recorded_by', 'scheme_name', 'extraction_type_group', 'extraction_type_class', 'management_group', 'payment_type', 'quality_group', 'quantity_group', 'source_type', 'source_class', 'waterpoint_type_group']
data.drop(columns=columns_to_drop, inplace=True)

# 7. Normalization/Standardization
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
data[['amount_tsh', 'gps_height', 'population']] = scaler.fit_transform(data[['amount_tsh', 'gps_height', 'population']])

# Display the cleaned data
data.info(), data.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59400 entries, 0 to 59399
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   amount_tsh         59400 non-null  float64
 1   date_recorded      59400 non-null  datetime64[ns]
 2   funder             55765 non-null  object
 3   gps_height         59400 non-null  float64
 4   installer          55745 non-null  object
 5   longitude          59400 non-null  float64
 6   latitude           59400 non-null  float64
 7   basin              59400 non-null  object
 8   region             59400 non-null  object
 9   district_code      59400 non-null  int64
 10  lga                59400 non-null  object
 11  ward               59400 non-null  object
 12  population         59400 non-null  float64
 13  public_meeting     56066 non-null  object
 14  scheme_management  55523 non-null  object
 15  permit             56344 non-null  object
 16  construction_year  59400 non-null  int64
 17  extraction_type    59400 non-null  object
 18  management         59400 non-null  object
 19  payment            59400 non-null  object
 20  water_quality      59400 non-null  object
 21  quantity           59400 non-null  object
 22  source             59400 non-null  object
 23  waterpoint_type    59400 non-null  object
 24  status_group       59400 non-null  object
 25  recorded_year      59400 non-null  int64
 26  recorded_month     59400 non-null  int64
dtypes: datetime64[ns](1), float64(5), int64(4), object(17)
memory usage: 12.7+ MB

(None,
    amount_tsh date_recorded        funder  gps_height     installer  \
 0         0.4    2011-03-14         roman    0.517483         roman
 1         0.0    2013-03-06       grumeti    0.520629       grumeti
 2         0.5    2013-02-25  lottery club    0.271329  world vision
 3         0.0    2013-01-28        unicef    0.123427        unicef
 4         0.0    2011-07-13   action in a    0.031469       artisan

    longitude   latitude                    basin   region  district_code  ...  \
 0  34.938093  -9.856322               lake nyasa   iringa              5  ...
 1  34.698766  -2.147466            lake victoria     mara              2  ...
 2  37.460664  -3.821329                  pangani  manyara              4  ...
 3  38.486161 -11.155298  ruvuma / southern coast   mtwara             63  ...
 4  31.130847  -1.825359            lake victoria   kagera              1  ...

   extraction_type management         payment water_quality      quantity  \
 0         gravity        vwc    pay annually          soft        enough
 1         gravity        wug       never pay          soft  insufficient
 2         gravity        vwc  pay per bucket          soft        enough
 3     submersible        vwc       never pay          soft           dry
 4         gravity      other       never pay          soft      seasonal

                  source              waterpoint_type    status_group  \
 0                spring           communal standpipe      functional
 1  rainwater harvesting           communal standpipe      functional
 2                   dam  communal standpipe multiple      functional
 3           machine dbh  communal standpipe multiple  non functional
 4  rainwater harvesting           communal standpipe      functional

   recorded_year recorded_month
 0          2011              3
 1          2013              3
 2          2013              2
 3          2013              1
 4          2011              7

 [5 rows x 27 columns])